.logo {
  width: 100px;
  cursor: pointer;
}

.navbuttons {
  display: flex;
  padding-left: 200px;
}
.banner {
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  margin-left: 500px;
}
.navbuttons > li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;

  cursor: pointer;
}
.navbar {
  background-color: gray;
  display: flex;
}
.cardbg {
  background-color: lightgrey;
}
.top-rated {
  padding-left: 5px;
}
.cardbody {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  /* justify-content: space-evenly; */
}
.app {
  border: 3px;
  border-style: solid;
  border-color: black;
}
.cardTile:hover {
  background-color: whitesmoke;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.cardTile {
  width: 220px;
  padding: 5px;
  background-color: lightgray;
  height: auto;
  transition: all 0.1s ease;
  cursor: pointer;
}
.food {
  width: 100%;
  height: 40%;
}
.shimmersearchfilter {
  display: flex;
  padding: 10px;
}
.mainsearchbtn {
  padding-left: 2px;
  padding-right: 5px;
}
/* .top-rated{
  padding-left: 5px;

} */
.mainsearchfilter {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}
.shimmersearchicon {
  padding-left: 2px;
}
.shimmertopbtn {
  padding-left: 5px;
}
.shimmer-cont {
  display: flex;
  flex-wrap: wrap;
}
.shimbox {
  width: 210px;
  padding: 5px;
  margin: 5px;
  height: 375px;
  background-color: whitesmoke;
}
.img {
  background-color: lightgray;
  width: 100%;
  height: 40%;
}
.login {
  padding: 10px 25px;
  background-color: lightgray;
}
.restCard {
  color: black;
  text-decoration: none;
}
.restHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 20px 600px;
}
/* .restName {
  padding: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;


} */
.restName {
  margin: auto;
  padding: 0px 50px;
}
.restCuisines {
  padding: 0px 50px;
  margin: auto;
}
.restLocality {
  padding: 5px;
  margin: auto;
}
.restAvgRating {
  padding: 5px;
  margin: auto;
}
.restTotalRating {
  padding: 5px;
  margin: auto;
}
.nameCard {
  display: flex;
  flex-direction: column;
}
.rateCard {
  display: flex;
}
.mainResMenu {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.menuLi {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  margin: 20px 100px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.1s ease;
  margin-right: 100px;
}
.menuLi:hover {
  background-color: whitesmoke;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.menuLiTitle {
  display: flex;
  justify-content: center;
}
/* .iskostickkar {
  position: sticky;
  top: 0;
} */
